@import "./Base/base.scss";
@import "./composants/btn.scss";
@import "./composants/heart.scss";
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./layout/big-card.scss";
@import "./layout/flex.scss";
@import "./layout/location.scss";
@import "./layout/reservation.scss";
@import "./layout/small-card.scss";
@import "./utils/variable";




