@import "./utils/variable";
@import "./utils/mixin";

@import "./Base/base";

@import "./composants/btn";
@import "./composants/heart";

@import "./layout/header";
@import "./layout/img-resataurant";
@import "./layout/location";
@import "./layout/reservation";
@import "./layout/list-fonction";
@import "./layout/restaurants";
@import "./layout/menu-restaurant";
@import "./layout/footer";

