.footer {
    width: 100%;
    height: auto;
    @include border;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.8);
}

h4 {
    font-family: Shirkhand;
    font-size: 1.2rem;
    font-weight: 400;
}
.footerblock {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: $white;
}
#footerblock__liens {
    color: $white;
}