.footer {
    width: 100%;
    height: auto;
    @include border;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.8);
}

h4 {
    font-family: Shirkhand;
    font-size: 1.2rem;
    font-weight: 400;
    color: $white;
    margin-bottom: 1rem;
    @include medium-only {
        text-align: center;
    }
}
.footerblock {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    color: $white;
    @include medium-only {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }
}
#footerblock__liens {
    color: $white;
}