.header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include box-shadow;
&__logo {
    max-width: 50%;
    height: auto;
    display: block;
    margin: auto;

}
}
