.header {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include background-secondary;
&__arrow {
    font-size: 1.5rem;
}
&__logo {
    max-width: 50%;
    height: auto;
    display: block;
    margin: auto;

}
}
