.img-restaurant {
    width: 100%;
    height: auto;
    @include border;
    &__img{
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: top;
        aspect-ratio: 4/3;
    }
}