.list-fonction {
    &__ol {
            list-style-type: decimal;
            list-style-position: inside;
    }
    &__li {
        display: inline;
        width: 100%;
        height: auto;
        border: 1px solid;
        border-radius: 20px;
        padding: 3px;
        background-color: #9356DC;
        color: #ffffff;
    }
}