.list {
    padding: 3rem 0;
    @include background-secondary($light-grey);
    &__title {
        margin-left: 1.5rem;
    }
}
.list-fonction {
    position: relative;
    &__li {
        display: flex;
        align-items: center;
        
    }
    &__number {
        width: auto;
        height: auto;
        @include border;
        border-radius: 20px;
        padding: 5px 8px;
        background-color: #9356DC;
        color: #fff;
        position: absolute;
        left: 22px;  
    }
    &__text {
        width: 100%;
        height: auto;
        display: inline-block;
        @include border;
        background-color: rgba(211, 211, 211, 0.2);
        border-radius: 25px;
        padding: 25px 16px;
        margin: 0 2rem;
        gap: 1rem;
        @include box-shadow;
    }
}
.grid-fonction {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin: 1.5rem 0;
    gap: 1rem;
}

.icon-list {
    margin: 0 1rem;
}


