.loader {
    width: 100%;
    height: 100%;
    //opacity: 0.4;
    &__position {
        width: 50%;
        height: 50%;
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }
}

.loading {
    border-radius: 50%;
    border: 6px solid $primary;
    &::after {
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 50%;
        height: 50%;
        border-top: 6px solid $tertiary;

    }
}

