.loader {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    &__position {
        width: 150px;
        height: 150px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }
}

.loading {
    position: absolute;
    z-index: 3;
    margin: 45vh;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top: 6px solid $primary;
    border-bottom: 6px solid $primary;
    background: $tertiary;
    animation: spin 1s linear infinite, load 3s linear;
    opacity: 0;
    &::before {
        content: "";
        position: absolute;
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
        border-radius: 50%;
        border: 5px solid transparent;
        border-top: 5px solid $secondary;
        border-bottom: 5px solid $secondary;
        opacity: 0.7;
        background: $primary;
        animation: spinreverse 3s linear infinite; 
    }
    &::after {
        content: "";
        position: absolute;
        top: 40px;
        right: 40px;
        bottom: 40px;
        left: 40px;
        border-radius: 50%;
        border: 4px solid transparent;
        border-top: 4px solid $tertiary;
        border-bottom: 4px solid $tertiary;
        opacity: 0.5;
        background: $secondary;
        animation: spin 9s linear infinite;

    }
}

@keyframes spin {
    0% { 
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
    
}

@keyframes spinreverse {
    0% { 
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(-360deg);
    }
    
}

@keyframes load {
    0% { 
        opacity: 1;
    }
    
    80% {
        opacity: 1;

    }

    100% {
        opacity: 0;

    }
    
}

