.location {
    display: flex;
    width: 100%;
    height: 3rem;
    border-top: 3px solid rgba(80, 80, 80, 0.1);
    @include background($darkgrey);
    align-items: center;
    justify-content: center;
    margin: auto;
    &__text{
        margin-left: 1rem;
    }
}
