.location {
    display: flex;
    width: 100%;
    height: 3rem;
    @include background-tertiary;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-top: 3px ridge rgb(0 0 0 / 4%);
    &__text{
        margin-left: 1rem;
    }
}
