.menu-restaurant {
    @include background;
    width: 100%;
    height: 100%;
    padding: 2rem 0 3rem 0;
    position: relative;
    bottom: 3rem;
    border-radius: 2rem 2rem 0 0;
    z-index: 1;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 3rem 1rem;
}

.small-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    @include border;
    border-radius: 1rem;
    @include background($white);
    @include box-shadow;
    padding: 0.5rem;
}

h2 {
    margin-left: 1rem;
}