.menu-restaurant {
    width: 100%;
    height: 100%;
    padding: 2rem 0 3rem 0;
    position: relative;
    top: -2rem;
    border-radius: 2rem 2rem 0 0;
    @include background;
}

.title-restaurant {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1.5rem 0 1rem;
    &__h1{
        font-family: Shirkhand;
    }
    &__love {
        font-size: 2rem;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 3rem 1rem;
    &__title {
        font-size: 1rem;
        font-weight: lighter;
        margin: 1rem 0;
        border-bottom: 3px solid $tertiary;
        height: 1.5rem;
        width: 10%;
    }
    @include large-only {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}

.groupe-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.small-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    @include background($white);
    @include box-shadow;
    padding: 0 0 0 0.5rem;
    animation: apparition 800ms ease;
    &__price {
        padding: 0 0 1rem 0;
        margin-right: 1rem;
    }
    &__2 {
        animation: apparition 1s ease 100ms;
    }
    &__3 {
        animation: apparition 1.3s ease 100ms;
    }
    &__4 {
        animation: apparition 1.3s ease 100ms;
    }
    @keyframes apparition {
        0% {
            transform: translateY(25px);
            opacity: 0;
        }
        20% {
            opacity: 0;
        }
        40% {
            opacity: 0.3;
        }
        60% {
            opacity: 0.6;
        }
        80% {
            opacity: 0.8;
        }
        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }

}

.box-small-card {
    display: grid;
    grid-template-columns: 10fr 2fr;
    width: 100%;
    cursor: pointer;
    &:hover {
        & .box-small-card__price {
            transform: translateX(0px);
        }
    }
    &:hover {
        & .box-small-card__box-green {
            opacity: 1;
            transition-duration: 100ms;
        }
    }
    &:hover {
        & .box-small-card__circle {
            transform: rotate(0turn);
        }
    }

    
    &__text {
        display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 0.2rem;
    line-height: 1.8rem;
    margin: 0.5rem 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    }
    &__price {
        display: flex;
        align-items: flex-end;
        transform: translateX(63px);
        transition: transform 350ms ease-in-out;
    }
    &__box-green {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 1.1rem;
        border: 1px solid transparent;
        background-color: #99E2D0;
        border-radius: 0 1rem 1rem 0;
        opacity: 0;
    }
        &__circle {
            @include background($tertiary);
            color: white;
            font-size: 1.5rem;
            margin-top: 0.3rem;
            margin-bottom: auto;
            transform: rotate(-1turn);
            transition: transform 350ms ease-in-out;
        
            @include medium-only {
                margin: 0 1.6rem;
            }
            @include large-only {
                margin: unset;
            }
            &:hover {
                transform: rotate(0turn);
            }
        }
}

.bouton-menu {
    display: flex;
    justify-content: center;
}