.menu-restaurant {
    width: 100%;
    height: 100%;
    padding: 2rem 0 3rem 0;
    position: relative;
    top: -2rem;
    border-radius: 2rem 2rem 0 0;
    @include background;
}

.title-restaurant {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1.5rem 0 1rem;
    &__h1{
        font-family: Shirkhand;
    }
    &__love {
        font-size: 2rem;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 3rem 1rem;
    &__title {
        font-size: 1rem;
        font-weight: lighter;
        margin: 1rem 0;
        border-bottom: 3px solid $tertiary;
        height: 1.5rem;
        width: 10%;
    }
    @include large-only {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3,1fr);
        grid-template-columns: repeat(3,33%);
    }
}

.groupe-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.small-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    @include background($white);
    @include box-shadow;
    padding: 0 0 0 0.5rem;

    @for $i from 1 through 4 {
        &__#{$i} {
            animation: apparition 1s cubic-bezier(.28,.09,.26,1) 150ms * $i;
        }
    }
    &__title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 0.9rem;
    }
    &__text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 0.9rem;
    }

    &__price {
        padding: 0 0 1rem;
        margin-right: 1rem;
        font-weight: bold;
    }
    
    @keyframes apparition {
        0% {
            transform: translateY(25px);
            opacity: 0;
        }

        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }

}

.box-small-card {
    width: 100%;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        & .box-small-card__box-green {
            width:35%;   
        }
    }
    &:hover {
        & .box-small-card__circle {
            transform: rotate(0turn);
        }
    }
    @include large-only {
        &:hover {
            & .box-small-card__box-green {
                width:50%;   
            }
    }
    @include huge-only {
        &:hover {
            & .box-small-card__box-green {
                width:35%;   
            }
    }
    }
    }

    &__paragraphe {
        width: 78%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 0 0.2rem;
        line-height: 1.8rem;
        margin: 0.5rem 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: transform 350ms ease-in-out;

    }
    &__price {
        width: 15%;
        display: flex;
        justify-content: flex-end;
    }
    &__box-green {
        display: flex;
        align-items: center;
        width: 0%;
        margin-right: -3rem;
        padding: 1.5rem 1rem 1.5rem; 
        border: 1px solid transparent;
        background-color: #99E2D0;
        border-radius: 0 1rem 1rem 0;
        transition: width 0.4s ease-in-out;
    }
    &__check {
        margin-left: 0.5rem;

        @include large-only {
            margin-left: 0.9rem;
        }
        @include huge-only {
            margin-left: 1rem;
        }
    }
        &__circle {
            @include background($tertiary);
            color: white;
            font-size: 1.5rem;
            transform: rotate(-1turn);
            transition: transform 350ms ease-in-out 0.2s;
        
            @include medium-only {
                margin: 0 3rem;
            }
            @include large-only {
                margin: unset;
            }
            &:hover {
                transform: rotate(0turn);
            }
        }
    }
.bouton-menu {
    display: flex;
    justify-content: center;
}