.reservation {
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgba(211, 211, 211, 0.2);
    flex-direction: column;
    align-items: center;
    padding: 2rem 1.2rem;
    gap: 1rem;
    &__title {
        text-align: center;
    }
    &__text {
        text-align: center;
    }
}