.restaurants {
    background-color: $lightgrey;
}

.cards-box{
    width: 100%;
    height: auto;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    background: white;
    justify-self: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin: 1.5rem;
    gap: 1rem;
    
}
.big-card {
    width: 100%;
    height: auto;
    border: 1px solid transparent;
    border-radius: 1rem 1rem 0 0;
    background-color: #fff;
    position: relative;
    &__img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
        aspect-ratio: 6/3;
    }
    &__news {
        position: absolute;
        left: 12rem;
        bottom: 14rem;
        background-color: $tertiary;
        border: 1px solid transparent;
        border-radius: 0.1rem;
    }
}

.news {
    bottom: 13rem;
}

.card-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
    &__text {
        line-height: 1.5em;
    }
    &__icon {
        font-size: 2em;
    }
}