.restaurants {
    background-color: $lightgrey;
}
.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin: 1.5rem;
    gap: 1rem;
    
}
.big-card {
    width: 100%;
    height: auto;
    border: 1px solid #fff;
    border-radius: 1rem 1rem 0 0;
    background-color: #fff;
    position: relative;
    &__img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
    }
    &__news {
        position: absolute;
        left: 12rem;
        bottom: 14rem;
        background-color: $tertiary;
        border: 1px solid transparent;
        border-radius: 0.1rem;
    }


}
.img-enchantee {
    aspect-ratio: 12/8;
}
.news {
    bottom: 13rem;
}
