.reservation {
    display: flex;
    width: 100%;
    height: auto;
    @include background;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1.2rem;
    gap: 1rem;
    @include large-only{
        gap: 2rem;
    }
    &__title {
        text-align: center;
    }
    &__text {
        text-align: center;
    }
}