.btn {
    border: 1px solid transparent;
    color: white;
    background: linear-gradient($secondary, $primary);
    border-radius: 30px;
    font: 500 0.9rem "Roboto";
    height: 50px;
    box-shadow: 3px 5px 12px rgba(0, 0, 0, 13%);
    position: relative;
    z-index: 1;
    cursor: pointer;
    &:hover {
        &::after {
            opacity: 0.8;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(lighten($secondary,3),lighten($primary,3));
        box-shadow: 3px 5px 12px rgba(0, 0, 0, 30%);
        border-radius: 30px;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms ease-in-out;
    }
}

.btn-reservation {
    padding: 10px 20px;
}

.btn-commander {
    padding: 10px 40px;
}