@import url(/sass/utils/_variable.scss);

button {
    border: 1px solid transparent;
    color: white;
    background: linear-gradient(secondary, primary);
    border-radius: 30px;
    padding: 10px 20px;
    display: inline-block;
    font: 500 0.9rem "Roboto";
    height: 50px;
}

//button:hover {
    //cursor: pointer;
    //opacity: 1;
    //animation: flash 1.2s;
//}