.heart {
    position: relative;
        &__full {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            background-image: linear-gradient(to right, $secondary, $primary);
            -webkit-background-clip: text;
            color: transparent;
            transition: opacity 500ms ease-in-out;
        }
}

a:hover {
    .heart__full {
        opacity: 1;
        //animation: to-fill 600ms;
        //animation-fill-mode: both;
        top: 2px;
    }
}

/*@keyframes to-fill {
    0% {
        opacity: 0;
    }

    25% {
        opacity: .19;

    }

    43% {
        opacity: .48;

    }

    58%{
        opacity: .65;

    }

    72%{
        opacity: .86;

    }
    100% {
        opacity: 1;
    }
}*/