@font-face {
    font-family: "Roboto-medium";
    src: url(/assets/font/Roboto/Roboto-Medium.ttf);
    font-family: "Shrikhand";
    src: url(/assets/font/Shrikhand/Shrikhand-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

a,
a:visited {
    color: black;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Roboto";
    src: url("/assets/font/Roboto/Roboto-Medium.ttf");
}
@font-face {
    font-family: "Shirkhand";
    src: url("/assets/font/Shrikhand/Shrikhand-Regular.ttf");
}

body {
    font-family: Roboto;
    max-width: 1440px;
    margin: auto;
}

main {
    gap: 1em;
}

.load {
    animation: opaque 3s ease-in-out;
}

@keyframes opaque {
    0% {
        opacity: 0.1;
    }

    80% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
    
}

.background-page{
    gap: 1em;
    background-color: $light-grey;
}

.positions{
    position: relative;
    width: 100%;
    height: auto;
}