//Responsive breakpoint
$breakpoints: (
  'small': (min-width: 425px),
  'medium': (min-width: 768px),
  'large': (min-width: 1024px),
  'huge': (min-width: 1440px)
);

@mixin respond-to($name) {
    @if map-has-key($breakpoints, $name) {
      @media #{inspect(map-get($breakpoints, $name))} {
        @content;
      }
    }
  
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Please make sure it is defined in `$breakpoints` map.";
    }
  }


  //https://www.sitepoint.com/managing-responsive-breakpoints-sass/ //

  $darkgrey: rgba(80, 80, 80, 0.1);
  $light-grey: rgba(239, 239, 239, 1);
  $primary: #9356DC;
  $secondary: #FF79DA;
  $tertiary: #99E2D0;
  $white: #fff;

  @mixin background($colour: $light-grey) {
    background-color: $colour;
  }

  @mixin border {
    border: 1px solid transparent;
  }

  @mixin box-shadow {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }

  @mixin colour-darken($colour:$tertiary) {
    color: darken($colour,40%);
  }

@mixin background-secondary($colour: $light-grey) {
  @if ( lightness($colour) == 94% ) {                             
    $colour: lighten($colour, 3%);
}
}
 
