//Responsive breakpoint
$breakpoints: (
  small: 425px,
  medium: 768px,
  large: 1024px,
  huge: 1440px
);
@mixin large-only {
  @media screen and (min-width:map-get($breakpoints, large)) {
    @content;
  }
}

@mixin huge-only {
  @media screen and (min-width:map-get($breakpoints, huge)) {
    @content;
  }
}


  $darkgrey: rgba(80, 80, 80, 0.1);
  $light-grey: rgba(239, 239, 239, 1);
  $primary: #9356DC;
  $secondary: #FF79DA;
  $tertiary: #99E2D0;
  $white: #fff;

  @mixin background($colour: $light-grey) {
    background-color: $colour;
  }

  @mixin border {
    border: 1px solid transparent;
  }

  @mixin box-shadow {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }

  @mixin list-fonction__number {
    width: auto;
    height: auto;
    @include border;
    border-radius: 20px;
    padding: 5px 8px;
    background-color: #9356DC;
    color: #fff;
    position: absolute;
  }

  @mixin colour-darken($colour:$tertiary) {
    color: darken($colour,40%);
  }

@mixin background-secondary($colour: $light-grey) {
  @if ( lightness($colour) == 94% ) {                             
    $colour: lighten($colour, 3%);
}
}